<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChichoGo! Lo que querés, cerca.</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,100italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>ChichoGo!</h1>
                <hr>
                <p>Lo que querés, cerca.</p>
                <div class="row mas-arriba">
                    <form role="form" action="" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group"><input class="form-control" type="text" placeholder="Quiero"></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group"><input class="form-control" type="text" placeholder="Lugar"></div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <input type="submit" class="btn btn-primary btn-go" value="Go!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single-data">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="data-titulo sombra"><h2 class="centrar-title">Pizzería Heraldo</h2></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                        
                        <img class="sombra col-lg-12 data-img" src="img/img.png"  alt="">
                                               
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                        <div class="data-datos sombra"><h3 class="centrar-data">La Plata, Buenos Aires</h3></div>
                        <div class="data-datos sombra"><h3 class="centrar-data">68 Nro. 281 (e 7 y 9) </h3></div>
                        <div class="data-datos sombra"><h3 class="centrar-data">291-4376489</h3></div>
                        <div class="data-datos sombra"><h3 class="centrar-data">www.holaracrac.com</h3></div>
                        <div class="data-datos sombra"><h3 class="centrar-data" >fedecrespo@hotmilk.com</h3></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="data-social">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                <div class="data-ico-social sombra"></div>
                            </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 single-mapa">
                    <iframe style="border-style:none" src="mapa/map.html" width="100%" height="100%"></iframe>  
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
